[user]
	name = Ilya Zhuravlev
	email = zhuravlev@dipay.ru
	username = ichiro18
[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /.gitignore
[color]
    ui = auto

[github]
    user = ichiro18
    token = 8b2a0220e2c38df4a8106d99b8bde20741117ba2

[commit]
        template = /.commit-template
[credential]
        helper = cache --timeout=3600

[url "https://bitbucket.org/"]
    insteadOf = bb:

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://zhuravlev@5.101.75.84:4433/"]
    insteadOf = sendy:
